@using System.Runtime.InteropServices
<!-- Bento Grid -->
<section class="bg-gray-50">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8 lg:py-32 relative">
        <div class="absolute left-1/2 -bottom-30 ">
            <img class="dog-track" src="images/huella.webp" alt="huella de perro"
                 style="max-width: 34px; max-height: 34px; transform: rotate(-180deg) translate(-20px,0); z-index: -1;" />
            <img class="dog-track" src="images/huella.webp" alt="huella de perro"
                 style="max-width: 34px; max-height: 34px;  z-index: -1; transform:  rotate(-170deg) translate(20px, -5px);" />
                    
            <img class="dog-track" src="images/huella.webp" alt="huella de perro"
                 style="max-width: 34px; max-height: 34px; transform: rotate(-180deg) translate(-20px,0); z-index: -1;" />
            <img class="dog-track" src="images/huella.webp" alt="huella de perro"
                 style="max-width: 34px; max-height: 34px;  z-index: -1; transform:  rotate(-170deg) translate(20px, -5px);" />
            <img class="dog-track" src="images/huella.webp" alt="huella de perro"
                 style="max-width: 34px; max-height: 34px; transform: rotate(-180deg) translate(-20px, 0); z-index: -1;" />
            <img class="dog-track" src="images/huella.webp" alt="huella de perro"
                 style="max-width: 34px; max-height: 34px; transform: rotate(-180deg) translate(20px, 5px); z-index: -1;" />
        </div>
        <p
            class="font-display mt-0 max-w-lg md:text-3xl text-start pl-1.5 text-2xl tracking-tight text-balance  text-gray-900 sm:text-2xl">
            Somos Callejeros</p>
        <div class="mt-8 grid gap-4 sm:mt-8 lg:grid-cols-3 lg:grid-rows-2">
            <div
                class="relative shadow-md lg:row-span-2 rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
                <div class="absolute inset-px rounded-lg bg-white lg:rounded-l-4xl"></div>
                <div
                    class="relative border flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
                    <!-- Imagen de fondo -->
                    <img src="images/pug.webp"
                         alt="Black pug sitting and looking directly at the camera with a gentle, curious expression. The background is plain and softly lit, drawing attention to the dog and creating a calm, inviting mood."
                         class="absolute inset-0 w-full h-full object-cover z-0" />
                    <!-- Degradado de arriba hacia abajo -->
                    <div class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/20 to-black/80 z-10"></div>
                    <!-- Contenido encima del degradado -->
                    <div
                        class="relative z-20 flex flex-col justify-end h-full px-8 pt-8 pb-6 sm:px-10 sm:pt-10 sm:pb-8">
                        <p class="mt-2 text-2xl font-bold tracking-tight text-white max-lg:text-center">¡Adopta, cambia
                            una vida!</p>
                        <ul class="mt-4 space-y-2 text-base text-white list-disc list-inside">
                            <li>Da una segunda oportunidad a un peludo que te necesita.</li>
                            <li>Ayuda a frenar la cría irresponsable.</li>
                            <li>Gana un amigo fiel y agradecido.</li>
                        </ul>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 lg:rounded-l-4xl">
                </div>
            </div>
            <div class="relative max-lg:row-start-1 shadow-md rounded-[calc(var(--radius-lg)+1px)]">
                <div class="absolute inset-px rounded-lg bg-gradient-to-b from-black/60 via-black/20 to-black/80"></div>
                <div class="relative border flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
                    <img src="images/dalmata.webp"
                         alt="Background image representing performance, such as a running dog or dynamic abstract shapes."
                         class="absolute inset-0 w-full h-full object-cover z-0" />
                    <div
                        class="relative z-20 flex flex-col justify-end h-full px-8 pt-8 pb-6 sm:px-10 sm:pt-10 sm:pb-8">
                        <p class="mt-2 text-2xl font-bold tracking-tight text-white max-lg:text-center">Rápido y fácil
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">Publica tu anuncio en minutos y
                            encuentra a tu compañero ideal.</p>
                    </div>
                </div>
                <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5"></div>
            </div>
            <div
                class="relative shadow-md max-lg:row-start-3 lg:col-start-2 lg:row-start-2 rounded-[calc(var(--radius-lg)+1px)] lg:rounded-r-[calc(2rem+1px)]">
                <div class="absolute inset-px rounded-lg bg-gradient-to-b from-black/60 via-black/20 to-black/80"></div>
                <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
                    <img src="images/gato.webp"
                         alt="Background image representing performance, such as a running dog or dynamic abstract shapes."
                         class="absolute inset-0 w-full h-full object-cover z-0" />
                    <div
                        class="relative z-20 flex flex-col justify-end h-full px-8 pt-8 pb-6 sm:px-10 sm:pt-10 sm:pb-8">
                        <p class="mt-2 text-2xl font-bold tracking-tight text-white max-lg:text-center">Eventos</p>
                        <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">Sigue nuestros eventos para que
                            puedas compartirlos y participar.</p>
                    </div>
                </div>
                <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5"></div>
            </div>
            <div
                class="relative shadow-md lg:row-span-2 rounded-[calc(var(--radius-lg)+1px)] lg:rounded-r-[calc(2rem+1px)]">
                <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-4xl lg:rounded-r-4xl"></div>
                <div
                    class="relative min-h-150 w-full grow flex flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-r-[calc(2rem+1px)]">
                    <img src="images/hamster_tazon.webp"
                         alt="Background image representing performance, such as a running dog or dynamic abstract shapes."
                         class="absolute inset-0 w-full h-full object-cover z-0" />
                    <div
                        class="relative z-20 flex flex-col justify-end h-full px-8 pt-8 pb-6 sm:px-10 sm:pt-10 sm:pb-8">
                        <p class="mt-2 text-2xl font-bold tracking-tight text-white max-lg:text-center">Únete a la
                            comunidad</p>
                        <p class="mt-2 max-w-lg text-sm/6 text-white max-lg:text-center">
                            Formar parte de nuestra comunidad te permite ayudar a más animales, compartir experiencias y
                            recibir apoyo de personas con tus mismos intereses. Juntos hacemos la diferencia.
                        </p>
                        <div class="mt-6 flex justify-start">
                            <a href="/registro"
                               class="inline-block rounded-lg bg-indigo-600 px-6 py-2 text-base font-semibold text-white shadow hover:bg-indigo-700 transition">
                                ¡Únete ahora!
                            </a>
                        </div>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-px rounded-lg shadow-sm outline outline-black/5 max-lg:rounded-b-4xl lg:rounded-r-4xl">
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    
    

}